<section class="mat-typography title-group">
    <h2>Heading Goes Here</h2>
    <mat-divider></mat-divider>
  </section>
   
    <form [formGroup]="storeManagerForm" (ngSubmit)="createStoreManager()">
        <div class="row mt-3" id="storeManagerFormContent">
            <div class="col-md-5">
                <mat-card>
                    <mat-card-content>
                        <div class="form-group">
                            <mat-form-field class="full-width">
                                <mat-label>Store Name</mat-label>
                                <input matInput type="text" class="form-control" formControlName="storename"  id="storename" name="storename" required>
                                <mat-error class="error-message" *ngIf="!storeManagerForm.get('storename').valid && (storeManagerForm.get('storename').touched || storeManagerForm.get('storename').dirty)">
                                    <mat-error *ngIf="storeManagerForm.get('storename').errors['required']">
                                        This field is required
                                    </mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>
                            <div class="form-group">
                                <mat-form-field [formGroup]='storeManagerForm' class="full-width">
                                    <mat-label>City</mat-label>
                                    <mat-select formControlName="userCity" placeholder="User City" required>
                                      <mat-option *ngFor="let city of cityArray" [disabled]="city.disabled" [value]="city.id">
                                        {{ city.cityName }}
                                      </mat-option>
                                    </mat-select>
                                    <mat-error class="error-message" *ngIf="!storeManagerForm.get('userCity').valid && (storeManagerForm.get('userCity').touched || storeManagerForm.get('userCity').dirty)">
                                        <mat-error *ngIf="storeManagerForm.get('userCity').errors['required']">
                                            This field is required
                                        </mat-error>
                                    </mat-error>
                                  </mat-form-field>
                            </div>
                    
                            <div class="form-group">
                                <mat-form-field class="full-width">
                                    <mat-label>First Name</mat-label>
                                    <input matInput type="text" class="form-control" formControlName="firstName"  id="firstName" name="firstName" required>
                                    <mat-error class="error-message" *ngIf="!storeManagerForm.get('firstName').valid && (storeManagerForm.get('firstName').touched || storeManagerForm.get('firstName').dirty)">
                                        <mat-error *ngIf="storeManagerForm.get('firstName').errors['required']">
                                            This field is required
                                        </mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                    
                            <div class="form-group">
                                <mat-form-field class="full-width">
                                    <mat-label>Middle Name</mat-label>
                                    <input matInput type="text" class="form-control" formControlName="middleName"  id="middleName" name="middleName" required>
                                    <mat-error class="error-message" *ngIf="!storeManagerForm.get('middleName').valid && (storeManagerForm.get('middleName').touched || storeManagerForm.get('middleName').dirty)">
                                        <mat-error *ngIf="storeManagerForm.get('middleName').errors['required']">
                                            This field is required
                                        </mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field class="full-width">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput type="text" class="form-control" formControlName="lastName"  id="lastName" name="lastName" required>
                                    <mat-error class="error-message" *ngIf="!storeManagerForm.get('lastName').valid && (storeManagerForm.get('lastName').touched || storeManagerForm.get('lastName').dirty)">
                                        <mat-error *ngIf="storeManagerForm.get('lastName').errors['required']">
                                            This field is required
                                        </mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                    
                            <div class="form-group">
                            <mat-label>Gender: </mat-label>
                            <mat-radio-group aria-label="Select an option" formControlName="gender" name="gender" id="gender" required>
                                <mat-radio-button *ngFor="let gender of genderValues" [value]="gender.val" [checked]="gender.checked">{{gender.val}}</mat-radio-button>
                                <!--<mat-radio-button value="Male">Male</mat-radio-button>
                                <mat-radio-button value="Female">Female</mat-radio-button>-->
                              </mat-radio-group>
                              <mat-error class="error-message" *ngIf="!storeManagerForm.get('gender').valid && (storeManagerForm.get('gender').touched || storeManagerForm.get('gender').dirty)">
                                <mat-error *ngIf="storeManagerForm.get('gender').errors['required']">
                                    This field is required
                                </mat-error>
                            </mat-error>
                            </div>
                    
                            <div class="form-group">
                                <mat-form-field class="full-width">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="email" class="form-control" formControlName="emailId"  id="emailId" name="emailId" required>
                                    <mat-error class="error-message" *ngIf="!storeManagerForm.get('emailId').valid && (storeManagerForm.get('emailId').touched || storeManagerForm.get('emailId').dirty)">
                                        <mat-error *ngIf="storeManagerForm.get('emailId').errors['required']">
                                            This field is required
                                        </mat-error>

                                        <mat-error *ngIf="storeManagerForm.get('emailId').errors['email']">
                                            Invalid Email-ID. Please enter a valid Email-ID
                                        </mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                    
                            <div class="form-group">
                                <mat-form-field class="full-width">
                                    <mat-label>Phone number</mat-label>
                                    <input matInput type="text" class="form-control" formControlName="phoneNumber"  id="phoneNumber" name="phoneNumber" maxlength="10" minlength="10" required>
                                    <mat-error class="error-message" *ngIf="!storeManagerForm.get('phoneNumber').valid && (storeManagerForm.get('phoneNumber').touched || storeManagerForm.get('phoneNumber').dirty)">
                                        <mat-error *ngIf="storeManagerForm.get('phoneNumber').errors['required']">
                                            This field is required
                                        </mat-error>
                                        <mat-error *ngIf="storeManagerForm.get('phoneNumber').errors['invalidPhoneNumber']">
                                            Invalid phone number.Phone number should contain 10 digits and it should start with 6/7/8/9.
                                        </mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-5">
                <mat-card>
                    <mat-card-content>
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <mat-label>Date of birth</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="dateOfBirth"  id="dateOfBirth" name="dateOfBirth" [matDatepickerFilter]="customDateFilter" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error class="error-message" *ngIf="!storeManagerForm.get('dateOfBirth').valid && (storeManagerForm.get('dateOfBirth').touched || storeManagerForm.get('dateOfBirth').dirty)">
                                    <mat-error *ngIf="storeManagerForm.get('dateOfBirth').errors['required']">
                                        This field is required
                                    </mat-error>
                                </mat-error>
                              </mat-form-field>
                      </div>
                            <div class="form-group">
                                <mat-form-field class="full-width">
                                    <mat-label>Username</mat-label>
                                    <input matInput type="text" class="form-control" formControlName="username"  id="username" name="username" required>
                                    <mat-error class="error-message" *ngIf="!storeManagerForm.get('username').valid && (storeManagerForm.get('username').touched || storeManagerForm.get('username').dirty)">
                                        <mat-error *ngIf="storeManagerForm.get('username').errors?.required">
                                            This field is required
                                        </mat-error>
                                        <mat-error *ngIf="storeManagerForm.get('username').errors?.invalidUsername">
                                            Username should be between 6-30 characters, Only numbers are not allowed at least one character should be there, No space allowed, No special characters allowed except _
                                        </mat-error>
                                        <mat-error *ngIf="storeManagerForm.get('username').errors?.duplicateUsername">
                                            That username is taken. Try another.
                                        </mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            
                                <div class="form-group">
                                <mat-form-field class="full-width">
                                    <mat-label>Password</mat-label>
                                    <input matInput type="password" class="form-control" formControlName="password"  id="password" name="password" required>
                                    <mat-error class="error-message" *ngIf="!storeManagerForm.get('password').valid && (storeManagerForm.get('password').touched || storeManagerForm.get('password').dirty)">
                                        <mat-error *ngIf="storeManagerForm.get('password').errors['required']">
                                            This field is required
                                        </mat-error>
                                        <mat-error *ngIf="storeManagerForm.get('password').errors['invalidPassword']">
                                            Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                                        letter and 1 number
                                        </mat-error>
                                    </mat-error>
                                </mat-form-field>
                                </div>
                                <div class="form-group">
                                  <mat-form-field class="full-width">
                                      <mat-label>Confirm Password</mat-label>
                                      <input matInput type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword" name="confirmPassword" required/>
                                      <mat-error class="error-message" *ngIf="!storeManagerForm.get('confirmPassword').valid && (storeManagerForm.get('confirmPassword').touched || storeManagerForm.get('confirmPassword').dirty)">
                                          <mat-error *ngIf="storeManagerForm.get('confirmPassword').errors['required']">
                                              This field is required
                                          </mat-error>
                                          <mat-error *ngIf="storeManagerForm.get('confirmPassword').errors['passwordMismatch']">
                                              Passwords does not match
                                          </mat-error>
                                      </mat-error>
                                  </mat-form-field>
                              </div>

                              <div class="form-group">
                              <mat-form-field class="full-width">
                                <mat-label>Address</mat-label>
                                <textarea matInput formControlName="address" id="address" name="address" class="form-control" required></textarea>
                                <mat-error class="error-message" *ngIf="!storeManagerForm.get('address').valid && (storeManagerForm.get('address').touched || storeManagerForm.get('address').dirty)">
                                    <mat-error *ngIf="storeManagerForm.get('address').errors['required']">
                                        This field is required
                                    </mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>
                                <div class="form-group">
                                    <button class="submit-btn" color="primary" mat-raised-button [disabled]="!storeManagerForm.valid" type="submit">Create Store Manager</button>
                                </div>
                                <div class="form-group">
                                    <button class="submit-btn" color="primary" mat-raised-button [disabled]="!storeManagerForm.valid" (click)="updateStoreManager()">Update Store Manager</button>
                                </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </form>